@import 'tailwindcss';

*{
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SuissenIntl';
  src: url('/images/6882e67a90d89df1a9887176_SuisseIntl-Medium-WebM.ttf')
  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@theme{
  --font-first:'SuissenIntl',sans-serif;
}